{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Newses
<!--{{ newses|length }}-->
{% endblock title %}

{% block content %}
  <h1>Новости</h1>
  <h3>{{ time_now|date:'d M Y' }} </h3>
  <h3>новостей:{{object_list|length}}</h3>
<!--{{ object_list }}-->
  {% if object_list %}
      <table>
          <tr>
              <td>
                    Заголовок
              </td>
              <td>
                    Новость
              </td>
              <td>
                    Дата
              </td>
          </tr>
      {% for newsid in object_list %}
          <tr>
                <td>
                    <a href="{% url 'detail' newsid.id %}">{{ newsid.post_had }}</a>
                    <!-- не забываем что переменные в шаблоне ничем не отличаются от переменных в python. Здесь также можно получать доступ к полям класса. Например здесь мы выводим имя, в следующем столбце описание, и т.д.  -->
                </td>
              <td>

                    <a href="{% url 'news_upd' newsid.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->

                    <a href="{% url 'news_del' newsid.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->
              </td>

              <td>
                    {{ newsid.post_had|stop_word }}
              </td>
              <td>
                    {{ newsid.post_text|truncatechars:50|stop_word }}
              </td>
              <td>
                    {{ newsid.post_time|date:'d M Y' }}
              </tr>
      {% endfor %}
      </table>

      {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a href="?page=1">First </a>
            <a href="?page={{ page_obj.previous_page_number }}"> <<< </a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                  <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                  <a href="?page={{ num }}"> {{ num }} </a>
            {% endif %}
        {% endfor %}


        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> >>> </a>
            <a href="?page={{ page_obj.paginator.num_pages }}"> Last </a>
        {% endif %}


      {% endif %}
  {% else %}
    <h2> Новостей нет! </h2>
  {% endif%}
{% endblock content %}